/* dtail.module.css */
.m_container {
  height: 100%;
  max-height: 100%;
  flex-direction: column;
  overflow: hidden;
}

/* 어두운 배경 (더보기 버튼 클릭 시) */
.full_screen_overlay  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000; /* 모든 요소 위에 위치 */
}

/* 영화 제목을 상단에 고정 */
.title_container {
  top: 10%;
  left: 10%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
  margin-top: 10%;
  overflow: hidden;
  border: 2px solid green;
}

.title {
  font-size: 3vw; /* 화면 크기에 비례하여 조정 */
  font-family: "Bold"; /* Bold 폰트 적용 */
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* 가독성을 위한 그림자 */
  letter-spacing: 1px;                           /* 글자 간격 조정 */
  white-space: nowrap;                  /* 텍스트 줄바꿈 방지 */
  overflow: hidden;                     /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis;              /* 말줄임(...) 적용 */
}

/* 영화 추가 정보 (출시 연도, 원제) */
.sub_info {
  font-size: 1vw;
  font-family: "Medium";
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.overview {
  font-size: 0.9vw;
  font-family: "Medium";
  color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  display: flex;
  line-height: 1.5;            /* 행간 조정 */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* 가독성을 위한 그림자 */
}

/* 더보기 버튼을 눌렀을 때 줄거리 최상단으로 이동 */
.full_screen_overlay_active .overview {
  position: relative; /* overlay 영향을 받지 않도록 설정 */
  z-index: 1002;      /* 오버레이보다 위에 표시 */
  color: white;     /* 글씨는 계속 흰색 */
}

/* 더보기 버튼 스타일 */
.readmore_btn {
  font-size: 1vw;
  font-family: "Medium";
  color: rgba(255, 255, 255, 0.5); /* 연한 회색 */
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 5px;
  transition: color 0.3s ease-in-out;
}

.readmore_btn:hover {
  color: rgba(255, 255, 255, 0.8);
}

.info_box {
  font-size: 0.9vw;
  font-family: "SemiBold";
  color: white;
  padding-left: 10%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.05em;    /* 자간 */
  line-height: 2;            /* 행간 조정 */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

.readmore_btn {
  font-size: 1vw;
  font-family: "Medium";
  color: rgba(255, 255, 255, 0.5);
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 5px;
  transition: color 0.3s ease-in-out;
}