/* chat_bubbles.css */
/* 메시지 컨테이너 (말풍선) 스타일 */
.message_container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 2px;
  margin-right: 2px;
}

/* 챗봇 메시지 스타일 (왼쪽 정렬) */
.bot {
  justify-content: flex-start;
}

/* 사용자 메시지 스타일 (오른쪽 정렬) */
.user {
  justify-content: flex-end;
}

/* 챗봇 로고 스타일 */
.avatar {
  width: 38px;
  height: 38px;
  object-fit: cover; /* 이미지가 찌그러지지 않도록 */
  margin-right: 5px; /* 메시지와 간격 */
  margin-bottom: 15px;
  /* 배경 설정 */
  border-radius: 50%;
  background-color: rgb(252, 252, 252); 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

/* 메시지 텍스트 스타일 */
.content {
  display: inline-block;
  border-radius: 15px;
  position: relative;
  line-height: 1.4;
  font-size: 0.9em; /* 반응형 글자 크기 */
  word-wrap: break-word; /* 긴 단어 줄바꿈 */
}

.sent {
  align-self: flex-end;
  flex-direction: row-reverse;
  display: flex;
  max-width: 60%;
  margin-left: auto;
  margin-right: 13px;
}

/* 사용자 메시지 스타일 */
.sent .content {
  background-color: #d63d3d;
  color: rgb(255, 255, 255);
  padding: 10px 10px;
}

/* Received messages (bot) */
.received {
  align-self: flex-start;
  display: flex;
  max-width: 65%;
  margin-right: auto;
}

/* 챗봇 메시지 스타일 */
.received .content {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-left: 8px;
  padding-right: 8px;
}


.time {
  font-size: 10px;
  color: rgb(135, 135, 135);
  margin-top: 2px;
  text-align: right;
}

/* 챗봇 타임스탬프 왼쪽 정렬 */
.bot_time {
  align-self: flex-start;
}

/* 사용자 타임스탬프 오른쪽 정렬 */
.user_time {
  align-self: flex-end;
}